/* General Styling */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    vertical-align: middle;
}

/* Navigation Bar Styling */
#navigation-bar {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: center;
}

#navigation-bar li {
    display: inline;
}

#navigation-bar a {
    text-decoration: underline;
    color: blue; 
}

#navigation-bar a:hover {
    color: darkred;
}

/* Browser Sections Styling */
#browser-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#browser-sections section {
    width: 300px;
}

a.nav-link {
    color: white !important;
}
